.dropdown4 img{
    position:absolute;
    bottom:10px;
    right:40px;
    height: 60px;
    opacity:0;
    
}

.content3{
    font-size:15px;
    text-align: justify;
    background-color: bisque;
    padding: 10px;
    position: absolute;
    right: -150px;
    width: 200px;
    color: black;
    display: none;
    
}

.dropdown4:hover .content3{
    display:block;
}

