.dropdown a{
    text-decoration: none;
}

.dropdown6 img{
    position: absolute;
    top:25px;
    height: 60px;
    left:15px;
    opacity: 0;
}

.content5{
    color: black;
    font-size:15px;
    width: 200px;
    text-align:justify;
    background-color:bisque;
    padding:10px;
    position: absolute;
    left: -250px;
    top:-180px;
    display: none;
}

.dropdown6:hover .content5{
    display:block;
}