.content2{
    font-size: 15px;
    background-color: bisque;
    position: absolute;
    right: 100px;
    width: 200px;
    padding: 10px;
    text-align: justify;
    display: none;
    
    
}

.margin{
    position: relative;
}

.dropdown3 a{
    text-decoration: none;
    color: black;
}

.dropdown3 img{
    position: absolute;
    bottom:10px ;
    left:40px;
    height: 60px;
    opacity: 0;
}

.dropdown3:hover .content2{
    display:block
}