.dropdown1 img{
    position:absolute;
    top:80px;
    left: 0px;
    height: 60px;
    opacity:0;
    
}

.content1{
    font-size:15px;
    text-align: justify;
    color:black;
    width: 200px;
    position: absolute;
    background-color: bisque;
    padding:10px;
    top:50px;
    right: 210px;
    display: none;
    
    
}

.dropdown1:hover .content1{
    display: block ;
}